@media (max-width: 360px) {
  
}
@media (max-width: 480px) {
	#login {
  		width: 100%;
  		max-width: 100%;
  		padding-bottom: 20px;
  	}
  	#login input[type="text"], #login input[type="password"]{
  		width: 100%;
  		height:35px;
  		box-sizing: border-box; 
  	}
  	#login input[type="submit"] {
  		width: 100%;
  		height: 35px;
  	}
  	#subir_img label,#subir_img select,#subir_img #imagen {
  		width: 100%; 
  		float: none;
  		box-sizing: border-box;
  		
  	}
  	#subir_img select,#subir_img #imagen {
  		height: 35px;
  	}
  	#subir_img label {
  		display: block;
  		margin-bottom: 10px;
  	}
  	.linea {
  		height: auto;
  		margin-bottom: 10px;
  	}
  	#carga_img .bt_subir {
  		height: 50px;
  	}
	 
}
@media (max-width: 640px) {
  #subir_img, #carga_img {
  	width: 100%;
  	margin: 0;
  }
  #agregar fieldset {
    border: 0 none;
    padding: 0;
  }  
}

@media (max-width: 767px) {
  
}